@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteNunito: Nunito, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonteNunito);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    color: #000;
    font-family: var(--fonteNunito);
    font-weight: 400;
}

nav > a {
    text-decoration: none;
    cursor: pointer;
    margin: 0.5rem;
}

h2 {
    font-weight: 700;
}

.banner {
    display: flex;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.banner-left {
    display: flex;
    background-color: #000;
    width: 50%;
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.banner-left > p {
    margin: auto;
}

.banner-left > p > span {
    color: #E9BF33;
}

.underlined-text {
    text-decoration: underline;
    text-decoration-color: #E9BF33;
    margin-left: 0.75rem;
}

.banner-right {
    background-color: #000;
    width: 50%;
}

.banner-image {
    width: 100%;
    height: 100%;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.281);
}

.buy-button {
    align-self: center;
    padding: 10px;
    margin-top: 0.5rem;
    background-color:
    #00E676;
    color: #fff;
    border-radius: 10px; 
    width: 50%;
}

aside {
    text-align: center;
    margin-top: 2rem;
    background-color: #f2f2f2;
    padding-bottom: 2rem;
}

.promo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo > input {
    margin: 1rem;
}

.submit-button {
    background-color: #E9BF33;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

footer {
    background-color: #000;
    display: flex;
    color: #fff;
    justify-content:space-around;
    align-items: center;
    padding: 1rem;
}

.location {
    display: flex;
    flex-direction: column;
}

.location > p {
    margin-top: 1rem;
}

.contacts {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
}

.contacts .support-button {
    background-color: #E9BF33;
    color: #fff;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 1rem;
}